use flake

source_env_if_exists .envrc.secrets

export PGUSER=owner
export PGDATABASE=rideshare_development
export PGHOST=localhost
export PGPORT=5433

export PORT=3000
export PGSLICE_URL=postgres://${PGUSER}:@${PGHOST}:${PGPORT}/${PGDATABASE}
export DATABASE_URL=postgres://${PGUSER}:@${PGHOST}:${PGPORT}/${PGDATABASE}
export DATABASE_URL_PRIMARY=postgres://${PGUSER}:@${PGHOST}:54321/${PGDATABASE}
export DATABASE_URL_REPLICA=postgres://${PGUSER}:@${PGHOST}:54322/${PGDATABASE}
export RAILS_PG_EXTRAS_DATABASE_URL=postgresql://${PGUSER}:@${PGHOST}:${PGPORT}/${PGDATABASE}
export PG_EXTRAS_SCHEMA=rideshare

export RIDESHARE_DB_PASSWORD=${PGPASSWORD}
export DB_URL=postgres://postgres:@${PGHOST}:${PGPORT}/postgres
